/* @import url('https://fonts.googleapis.com/css?family=Roboto');   font-family:Roboto, Arial, sans-serif;*/

*{
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0;
  
  box-sizing: border-box;
  font-size: 20px

}

body {
    font-family: 'Roboto', sans-serif;
    padding: 15px 0 30px;
    background-color: #B2DFDB;
  }

#calculadora{
  text-align: center;
}

#calculadora table {
  background-color: #CFD8DC; 
  border: 0.0625rem double black;
  font-size: 1.5625rem;
}

#calculadora td input {
  width: 3.5rem;
  height: 3.5rem;
}

#calculadora td input:hover {
  color: #fff;
  background-color: #546E7A;
}

#calculadora td input#pantalla {
  text-align: right;
  width: 100%;
}

#calculadora td input#pantalla:hover {
  color: #000;
  background-color: #fff;
}
