img {
    width: 500px;
    height: 500px;
}

body {

    margin-left: 100;
    margin-right: 100;
    padding: 4%;
    background-color: rgb(236, 217, 109);
}

input{
    font-size: 20px;
}

.center, h1{
	text-align: center;
}

